<h1 class="list-title">My Listings</h1>

{{#each data}}
<section class="promo mobile-pad">
    <h1 class="promo-head">{{this.title}}</h1>
    <section class="promo-content">
        <div class="promo-img"><img src="/uploads/{{this.picString}}" alt="list-img"></div>
        <div>
            <h2>{{this.location}}</h2>
            <h2>${{this.price}}</h2>
            <p>{{this.description}}</p>
            <a href="/registration/edit/{{this._id}}">Edit</a> <a href="/registration/delete/{{this._id}}?method=DELETE">Delete</a>
        </div>
    </section>
</section>
{{/each}}